<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <script>
      function checkUser(event) {
        email = document.getElementById("email").value;
        if (email == "") {
          document.getElementById("message").innerHTML = "Please enter your email";
          event.preventDefault();
        }

        password = document.getElementById("password").value;
        if (password == "") {
          document.getElementById("message").innerHTML = "Please enter your Password";
          event.preventDefault();
        }  
      }
    </script>
  </head>

  <body class="text-center"> 
    <main class="form-signin">
      <form onSubmit="return checkUser(event);" method="post">
        <i class="bi bi-person-circle" style="font-size: 70px"></i>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          <input class="form-control" id="email" name="email" placeholder="xxxxxx">
          <label for="banker_id">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
        <div>
          <p id="message" class="text-danger" style="height:25px"><%- locals.message %></p>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign in</button>
      </form>


      <div class="w-100 rounded d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-lg btn-secondary" onclick="window.location.href='/'">Return to Main</button>
      </div>  
    </main>   
  </body>
</html>
