<!doctype html>
<html lang="en">
    <head>
        <title>Notifications</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <link href="/stylesheets/header.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="px-3 py-2 bg-dark text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                            <span>No Poor Among Us - Social Worker</span>
                        </div>
                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="socialworkerhistory" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="clock"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Social History</span>
                                    </div>
                                </a>
                            </li>
                            <li style="display: grid; align-items: center;">
                                <a href="socialworkerschedule" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="book"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Schedule</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="logout" class="nav-link text-white">
                                    <div class="row">
                                        <span data-feather="log-out"></span>
                                    </div>
                                    <div class="row gy-1" style="text-align: center;">
                                        <span>Log Out</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="row">
                <% absences.forEach(abs => { %>
                  <div class="col">
                    <div class="card border-info m-3" style="max-width: 18rem;">
                      <div class="card-header"><%= abs.StudentName %></div>
                      <div class="card-body text-dark">
                        <p>Course: <%= abs.Course %></p>
                        <p>Date: <%= abs.Date %></p>
                        <form method="post" action="/socialworkernotifications/updateAttendance">
                          <input type="hidden" name="attendanceID" value="<%= abs.AttendanceID %>">
                          <button type="submit" name="newStatus" value="Excused" class="btn btn-success">Excuse Absence</button>
                          <button type="submit" name="newStatus" value="Inexcused" class="btn btn-danger">Inexcused</button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
        </main>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>feather.replace()</script>
    </body>
</html>